<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Create Project</title>
	<link rel="stylesheet" type="text/css" href="/CSS/style.css"/>
</head>
<body>
<%- include('header') -%>
<div class="main main-create-project">
	<div class="all-content">
		<div class="head-container">
			<div class="head project-text">Summary</div>
			<div><input class="summary-input-content" type="text"></div>
		</div>
		<div class="head-container">
			<div class="head project-text">Description</div>
			<div><textarea class="description-input" type="text"></textarea></div>
		</div>
		<div class="head-container">
			<div class="head project-text">Priority</div>
			<select class="dropdown-select status-select">
				<option>Open</option>
				<option>In progress</option>
				<option>Reviewing</option>
				<option>Done</option>
			</select>
		</div>
		<div class="head-container">
			<div class="head project-text">Deadline</div>
			
			
		</div>
	</div>
</div>
<%- include('footer') -%>
</body>
<script src="/javascript/auth.js"></script>
<script src="/javascript/createProject.js"></script>
<script>initCreateProject();</script>
</html>