<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Create Project</title>
	<link rel="stylesheet" type="text/css" href="/CSS/style.css"/>
</head>
<body>
<%- include('header') -%>
<div class="main main-create-project">
	<div class="all-content">
		<div class="head-container">
			<div class="head project-text">Summary</div>
			<div><input class="summary-input-content" type="text"></div>
		</div>
		<div class="head-container">
			<div class="head project-text">Description</div>
			<div><textarea class="description-input" type="text"></textarea></div>
		</div>
		<div class="head-container">
			<div class="head project-text">Priority</div>
			<select class="dropdown-select">
				<option>Critical</option>
				<option>Major</option>
				<option>Minor</option>
			</select>
		</div>
		<div class="head-container">
			<div class="head project-text">Deadline</div>
			<input type="date" id="deadline-input" id="calendar" name="date">
		</div>
		<div class="head-container">
			<div class="head project-text">Owner</div>
			<div class="people-area">
				<div class="name-input-area">
					<input type="text" id="assignee-input" name="assignee">
					<div class="icon-container">
						<div class="search-icon mouseover"></div>
					</div>
				</div>
				<div class="people-list">
					<div class="people-container">
						<div class="people-text">Annie Chang ( id:1 )</div>
						<div class="close mouseover">
							<div class="close-icon"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="head-container">
			<div class="head project-text">Assignee</div>
			<div class="people-area">
				<div class="name-input-area">
					<input type="text" id="assignee-input" name="assignee">
					<div class="icon-container">
						<div class="search-icon mouseover"></div>
					</div>
				</div>
				<div class="people-list">
					<div class="people-container">
						<div class="people-text">Peter Lin ( id:18 )</div>
						<div class="close mouseover">
							<div class="close-icon"></div>
						</div>
					</div>
					<div class="people-container">
						<div class="people-text">Peter Wang ( id:19 )</div>
						<div class="close mouseover">
							<div class="close-icon"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="head-container">
			<div class="head project-text">Follower</div>
			<div class="people-area">
				<div class="name-input-area">
					<input type="text" id="assignee-input" name="assignee">
					<div class="icon-container">
						<div class="search-icon mouseover"></div>
					</div>
				</div>
				<div class="people-list">
					<div class="people-container">
						<div class="people-text">Moris Lin ( id:3 )</div>
						<div class="close mouseover">
							<div class="close-icon"></div>
						</div>
					</div>
					<div class="people-container">
						<div class="people-text">Bill Gate ( id:4 )</div>
						<div class="close mouseover">
							<div class="close-icon"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="button-container">
			<div class="create-button project-text mouseover">Add project</div>
		</div>
	</div>
</div>
<%- include('footer') -%>
</body>
<script src="/javascript/auth.js"></script>
<script src="/javascript/createProject.js"></script>
<script>initCreateProject();</script>
</html>