<header class="header">
	<nav class="nav-content sight-fit">
		<a href="/" class="hyperlink mouseover headline-container"><div class="headline">Project Notes</div></a>
		<div class="nav-menu">
			<a href="/create-project" class="hyperlink"><div id="create-project" class="create-btn mouseover unseen">Create project</div></a>
			<a href="/projects" class="hyperlink"><div id="project" class="nav-opt mouseover unseen">Project tracker</div></a>
			<a href="/personal" class="hyperlink"><div id="personal" class="nav-opt mouseover unseen">Personal notes</div></a>
			<div id="member" class="mouseover unseen"></div>
			<a href="/log" class="hyperlink"><div id="sign" class="nav-opt mouseover unseen">Sign in / Sign up</div></a>
		</div>
	</nav>
</header>
<div class="member-selection unseen">
	<div class="member-position">
		<div id="opt-member-center" class="member-selection-item mouseover">
			<div class="selection-item-text">Settings</div>
		</div>
		<div id="opt-sign-out" class="member-selection-item mouseover">
			<div class="selection-item-text">Sign out</div>
		</div>
	</div>
</div>