<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Project Notes</title>
	<link rel="stylesheet" type="text/css" href="/CSS/style.css"/>
</head>
<body>
	<header class="header">
		<nav class="nav-content sight-fit">
			<a href="/" class="hyperlink mouseover"><div class="headline">Project Notes</div></a>
			<div class="nav-menu">
				<div id="project" class="nav-opt mouseover">Project tracker</div>
				<div id="personal" class="nav-opt mouseover">Personal to-do</div>
				<div id="member" class="mouseover"></div>
			</div>
		</nav>
	</header>
	<div class="tmp">

	</div>
	<footer class="footer">
		<div class="footer-text">COPYRIGHT © 2023 Project Notes</div>
	</footer>
</body>
</html>