<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Project Notes</title>
	<link rel="stylesheet" type="text/css" href="/CSS/style.css"/>
</head>
<body>
<%- include('header') -%>
<div class="main main-index">
	<div class="sight-fit">
		<h3>#TODO demo usage</h3>
		<h3>Before</h3>
		<img src="./images/past_usage.png" style="width: 100%;"/>

		<h3>After</h3>
		<p>#TODO demo gif</p>
		<p>
			- Connection between project tracker and personal notes with just one click <br/>
			- Individual's personal notes of a user could only be viewed by oneself <br/>
			- Edit and save notes online
		</p>
	</div>
</div>
<%- include('footer') -%>
</body>
<script src="javascript/auth.js"></script>
<script src="javascript/index.js"></script>
<script>initIndex();</script>
</html>