<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Personal Notes</title>
	<link rel="stylesheet" type="text/css" href="/CSS/style.css"/>
</head>
<body>
<%- include('header') -%>
<div class="main main-personal" style="font-size: larger;">
	<div class="note-options-area">
		<div class="note-options-container">
			<div class="note-title-container">
				<label class="note-title-label">Search the note of a project</label>
				<input id="search-note-id" class="keyword-input" type="text" placeholder="Enter project id">
			</div>
			<div class="note-option-button-container">
				<button id="search-note-project-id" class="note-button mouseover">Search</button>
			</div>
		</div>
		<!-- <div class="note-options-container">
			<div class="note-title-container">
				<label class="note-title-label">Add a note connected to a project</label>
				<input id="add-note-id" class="keyword-input" type="text" placeholder="Enter project id">
			</div>
			<div class="note-option-button-container">
				<button id="add-note-project-id" class="note-button mouseover">Add note</button>
			</div>
		</div> -->
	</div>
	<hr class="separator-sight-fit"/>
	<div class="hint-area">
		<img class="hint-image" src="/images/lock.png"/>
		<div class="normal-text">Personal notes are only visible to yourself</div>
	</div>
	<div id="no-note" class="normal-text unseen">No result.</div>
	<div class="personal-list sight-fit">
		<!-- <div class="note note-selected">
			<div class="note-head">
				<div class="note-title"><a href="/project/5" target="_blank" class="hyperlink project-text">project 5: solve no 5 problem</a></div>
				<div class="note-action-container mouseover"><img class="note-action-image" src="/images/viewmore.png"/></div>
			</div>	
			<div><textarea id="note-text-3" class="input-note" dir="ltr">Existing notes(example) &#10 1. do research &#10 2. check code &#10 3. add something
				</textarea>
			</div>
			<div class="note-button-group">
				<div class="note-text-button-container">
					<button class="note-text-button mouseover note-save-enable">Save</button>
				</div>
				<div class="note-delete-icon mouseover"></div>
			</div>
		</div> -->
		<!-- <div class="note">
			<div class="note-head">
				<div class="note-title"><a href="/project/11" target="_blank" class="hyperlink project-text">project 11: solve no 200 problem</a></div>
				<div class="note-action-container mouseover">
					<img class="note-action-image" src="/images/viewmore.png"/>
					<div style="position: absolute;">
						<div class="viewmore-dialogue-note">
							<div class="move-note">Move to top</div>
							<hr/>
							<div class="move-note">Move up</div>
							<hr/>
							<div class="move-note">Move down</div>
						</div>
					</div>
				</div>
			</div>	
			<div><textarea id="note-text-4" class="input-note" dir="ltr">Existing notes(example) &#10 1. do research &#10 2. check code
				</textarea>
			</div>
			<div class="note-button-group">
				<div class="note-text-button-container">
					<button class="note-text-button">Save</button>
				</div>
				<div class="note-delete-icon mouseover"></div>
			</div>
		</div> -->
	</div>
	<div class="loadmore-status"><div id="loadmore-note-button" class="loadmore-note-button unseen mouseover">Load more</div></div>
</div>
<%- include('footer') -%>
</body>
<script src="/javascript/auth.js"></script>
<script src="/javascript/commonFunction.js"></script>
<script src="/javascript/personal.js"></script>
<script>initPersonal();</script>
</html>