<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Project</title>
	<link rel="stylesheet" type="text/css" href="/CSS/style.css"/>
</head>
<body>
<%- include('header') -%>
<div class="main main-project-id" style="font-size: larger;">
	<div class="project-head-container sight-fit">
		<div class="project-head">
			<div id="project-viewmore" class="note-action-container mouseover">
				<img class="note-action-image" src="/images/viewmore.png"/>
				<div style="position: absolute;">
					<div class="viewmore-dialogue-project unseen">
						<div class="move-note">Edit</div>
						<hr/>
						<div class="move-note">Add to my notes</div>
					</div>
				</div>
			</div>
			<div class="project-title project-text">Project id: <%= id%> solve xxx problem</div>
		</div>
		<div class="project-status">
			<div class="main-block-vertical">
				<select class="dropdown-select status-select">
					<option>Open</option>
					<option>In progress</option>
					<option>Reviewing</option>
					<option>Done</option>
				</select>
			</div>
		</div>
	</div>
	<div class="project-content sight-fit">
		<div class="project-main">
			<div class="main-block-vertical">
				<div class="block-title project-text">Description</div>
				<div class="block-content normal-text">
					 descriptions~~~
				</div>
			</div>
			<div class="comment-block-vertical">
				<div class="block-title project-text">Comment</div>
				<div class="main-block">
					<div class="block-subtitle normal-text">Comment authorization:</div>
					<select class="dropdown-select auth-drop">
						<option>All people</option>
						<option>Only owner, assignee, followers</option>
					</select>
				</div>
				<div class="block-content normal-text unseen">
					No comment yet.
				</div>
				<div class="comment-container">
					<div class="comment-block">
						<div class="comment-img"></div>
						<div class="comment-content">
							<div class="comment-info">
								<div class="comment-info-user">Amy</div><div class="comment-info-datetime">11/May/23 11:50 AM.</div>
							</div>
							<div class="comment-text">
								This is good.
							</div>
							<div class="actions-container">
								<div class="action-opt">Edit</div>
								<div class="action-opt">Delete</div>
							</div>
						</div>
					</div>
					<div class="comment-block">
						<div class="comment-img"></div>
						<div class="comment-content">
							<div class="comment-info">
								<div class="comment-info-user">Mike</div><div class="comment-info-datetime">12/May/23 11:55 AM.</div>
							</div>
							<div class="comment-text">
								OK.pass
							</div>
							<div class="actions-container">
								<div class="action-opt">Edit</div>
								<div class="action-opt">Delete</div>
							</div>
						</div>
					</div>
				</div>
				<div class="add-comment-container normal-text">
					<textarea class="add-comment-text" type="text" placeholder="Leave a comment"></textarea>
					<button class="add-comment-button">Add</button>
				</div>
			</div>
			<div class="main-block-vertical">
				<div class="block-title note-title-project">My personal note</div>
				<div class="block-content-note normal-text">
					<div><textarea class="input-note-project" dir="ltr">Existing notes(example) &#10 1. do research &#10 2. check code
						</textarea>
					</div>
					<div class="note-button-group">
						<div class="note-text-button-container">
							<button class="note-text-button">Save</button>
						</div>
						<div class="note-delete-icon mouseover"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="project-minor">
			<div class="minor-block">
				<div class="minor-block-title normal-text">Priority</div>
				<div class="block-content">Major</div>
			</div>
			<div class="minor-block">
				<div class="minor-block-title normal-text">Deadline</div>
				<div class="block-content">12/Mar/24</div>
			</div>
			<div class="minor-block">
				<div class="minor-block-title normal-text">Owner</div>
				<div class="block-content">Mary</div>
			</div>
			<div class="minor-block">
				<div class="minor-block-title normal-text">Assignee</div>
				<div class="block-content">Mary</div>
			</div>
			<div class="minor-block">
				<div class="minor-block-title normal-text">Follower</div>
				<div class="block-content">Jane, Mark, Jonh, Leanne, Anne</div>
			</div>
			<div class="minor-block">
				<div class="minor-block-title normal-text">Creator</div>
				<div class="block-content">Will</div>
			</div>
		</div>
	</div>
</div>
<%- include('footer') -%>
</body>
<script src="/javascript/auth.js"></script>
<script src="/javascript/projectId.js"></script>
<script>initProjectId();</script>
</html>