<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Project Tracker</title>
	<link rel="stylesheet" type="text/css" href="/CSS/style.css"/>
</head>
<body>
<%- include('header') -%>
<div class="main main-project">
	<div class="search-container sight-fit">
		<div class="dropdown-container">
			<div class="dropdown">
				<label class="dropdown-label">I am</label>
				<select id='role-select' class="dropdown-select">
					<option value="duty">owner / reviewer</option>
					<option value="relate">belong to related people / team</option>
				</select>
			</div>
			<div class="search">
				<label class="dropdown-label">Keyword in summary</label>
				<input class="keyword-input" type="text">
			</div>
		</div>
		<div class="search-button-container">
			<button class="search-btn mouseover">Search</button>
		</div>
	</div>
	<hr class="separator-sight-fit"/>
	<div class="tag-container sight-fit">
		<div class="projects-tag"># I am owner / reviewer</div>
		<div class="projects-tag"># Summary includes ''</div>
		<div class="projects-tag"># Deadline(near → far)</div>
	</div>
	<div class="sight-fit"><div class="status-block status-open">OPEN</div></div>
	<div id="no-open" class="normal-text unseen">No result.</div>
	<div class="project-list">
		<table class="project-table sight-fit">
			<thead>
				<tr>
					<th>Project</th><th>Owner</th><th>Reviewer</th><th>Priority</th><th>Deadline</th>
				</tr>
			</thead>
			<tbody id="open-result-tbody"></tbody>
		</table>
		<div class="loadmore-status"><div id="loadmore-open-button" class="mouseover">Load more</div></div>
	</div>
</div>
<%- include('footer') -%>
</body>
<script src="/javascript/auth.js"></script>
<script src="/javascript/commonFunction.js"></script>
<script src="/javascript/project.js"></script>
<script>initProject();</script>
</html>