<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Project Tracker</title>
	<link rel="stylesheet" type="text/css" href="/CSS/style.css"/>
</head>
<body>
<%- include('header') -%>
<div class="main main-project">
	<div class="search-container sight-fit">
		<div class="dropdown-container">
			<div class="dropdown">
				<label class="dropdown-label">I am</label>
				<select id='role-select' class="dropdown-select">
					<option value='0'>owner / reviewer</option>
					<option value='1'>owner / reviewer / belong to relate team</option>
				</select>
			</div>
			<div class="search">
				<label class="dropdown-label">Keyword</label>
				<input id="search-input" class="keyword-input" type="text" placeholder="keyword in summary">
			</div>
		</div>
		<div class="search-button-container">
			<div id="project-search" class="icon-container">
				<div class="search-icon mouseover"></div>
			</div>
		</div>
	</div>
	<hr class="separator-sight-fit"/>

	<div class="sight-fit"><div class="status-block status-progress">IN PROGRESS</div></div>
	<div id="no-progress" class="normal-text unseen">No result.</div>
	<div id='progress-project-list' class="project-list unseen">
		<table class="project-table sight-fit">
			<thead>
				<tr>
					<th class="tb-title">Project</th><th class="tb-people">Owner</th><th class="tb-people">Reviewer</th><th>Priority</th><th>Deadline ⇩</th>
				</tr>
			</thead>
			<tbody id="progress-result-tbody"></tbody>
		</table>
		<div class="loadmore-status"><div id="loadmore-progress-button" class="loadmore-status-button mouseover">Load more</div></div>
	</div>

	<div class="sight-fit"><div class="status-block status-reviewing">REVIEWING</div></div>
	<div id="no-reviewing" class="normal-text unseen">No result.</div>
	<div id='reviewing-project-list' class="project-list unseen">
		<table class="project-table sight-fit">
			<thead>
				<tr>
					<th class="tb-title">Project</th><th class="tb-people">Owner</th><th class="tb-people">Reviewer</th><th>Priority</th><th>Deadline  ⇩</th>
				</tr>
			</thead>
			<tbody id="reviewing-result-tbody"></tbody>
		</table>
		<div class="loadmore-status"><div id="loadmore-reviewing-button" class="loadmore-status-button mouseover">Load more</div></div>
	</div>

	<div class="sight-fit"><div class="status-block status-open">OPEN</div></div>
	<div id="no-open" class="normal-text unseen">No result.</div>
	<div id='open-project-list' class="project-list unseen">
		<table class="project-table sight-fit">
			<thead>
				<tr>
					<th class="tb-title">Project</th><th class="tb-people">Owner</th><th class="tb-people">Reviewer</th><th>Priority</th><th>Deadline ⇩</th>
				</tr>
			</thead>
			<tbody id="open-result-tbody"></tbody>
		</table>
		<div class="loadmore-status"><div id="loadmore-open-button" class="loadmore-status-button mouseover">Load more</div></div>
	</div>

	<div class="sight-fit"><div class="status-block status-done">DONE</div></div>
	<div id="no-done" class="normal-text unseen">No result.</div>
	<div id='done-project-list' class="project-list unseen">
		<table class="project-table sight-fit">
			<thead>
				<tr>
					<th class="tb-title">Project</th><th class="tb-people">Owner</th><th class="tb-people">Reviewer</th><th>Priority</th><th>Deadline ⇩</th>
				</tr>
			</thead>
			<tbody id="done-result-tbody"></tbody>
		</table>
		<div class="loadmore-status"><div id="loadmore-done-button" class="loadmore-status-button mouseover">Load more</div></div>
	</div>
</div>
<%- include('footer') -%>
</body>
<script src="/javascript/auth.js"></script>
<script src="/javascript/commonFunction.js"></script>
<script src="/javascript/env.js"></script>
<script src="/javascript/notification.js"></script>
<script src="/javascript/project.js"></script>
<script>initProject();</script>
</html>