<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Project Notes</title>
	<link rel="stylesheet" type="text/css" href="/CSS/style.css"/>
</head>
<body>
<%- include('header') -%>
<div class="main main-project">

</div>
<%- include('footer') -%>
</body>
<script src="javascript/auth.js"></script>
<script src="javascript/project.js"></script>
<script>initProject();</script>
</html>