<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Project</title>
	<link rel="stylesheet" type="text/css" href="/CSS/style.css"/>
</head>
<body>
<%- include('header') -%>
<div class="main main-project-id">
	<div class="project-head-container sight-fit">
		<div class="project-head">
			<div id="project-viewmore" class="note-action-container mouseover">
				<img class="note-action-image" src="/images/viewmore.png"/>
				<div style="position: absolute;">
					<div class="viewmore-dialogue-project unseen">
						<div id="edit-project" class="move-note">Edit</div>
						<hr/>
						<div class="move-note">Add to my notes</div>
					</div>
				</div>
			</div>
			<div class="project-title project-text"><div class="project-id"><div>Project-<%= id%></div></div><div class="project-summary-container"><div id="project-summary"></div></div></div>
		</div>
		<div class="project-status">
			<div class="main-block-vertical">
				<select id="project-status-value" class="dropdown-select status-select">
					<option value = 'OPEN'>OPEN</option>
					<option value = 'IN PROGRESS'>IN PROGRESS</option>
					<option value = 'REVIEWING'>REVIEWING</option>
					<option value = 'DONE'>DONE</option>
				</select>
			</div>
		</div>
	</div>
	<div class="project-content sight-fit">
		<div class="project-main">
			<div class="main-block-vertical">
				<div class="block-title project-text">Description</div>
				<div id="project-description" class="block-content normal-text"></div>
			</div>
			<div class="comment-block-vertical">
				<div class="block-title project-text">Comment</div>
				<div class="block-content normal-text unseen">
					No comment yet.
				</div>
				<div class="comment-container">
					<div class="comment-block">
						<div class="comment-img"></div>
						<div class="comment-content">
							<div class="comment-info">
								<div class="comment-info-user">Amy</div><div class="comment-info-datetime">11/May/23 11:50 AM.</div>
							</div>
							<div class="comment-text">
								This is good.
							</div>
							<div class="actions-container">
								<div class="action-opt">Edit</div>
								<div class="action-opt">Delete</div>
							</div>
						</div>
					</div>
					<div class="comment-block">
						<div class="comment-img"></div>
						<div class="comment-content">
							<div class="comment-info">
								<div class="comment-info-user">Mike</div><div class="comment-info-datetime">12/May/23 11:55 AM.</div>
							</div>
							<div class="comment-text">
								OK.pass
							</div>
							<div class="actions-container">
								<div class="action-opt">Edit</div>
								<div class="action-opt">Delete</div>
							</div>
						</div>
					</div>
				</div>
				<div class="add-comment-container normal-text">
					<textarea class="add-comment-text" type="text" placeholder="Leave a comment"></textarea>
					<div class="add-comment-btn-container">
						<div id='add-comment' class="create-button project-text mouseover">Add</div>
					</div>
				</div>
			</div>
			<div class="main-block-vertical unseen">
				<div class="block-title note-title-project">My personal note</div>
				<div class="block-content-note normal-text">
					<div><textarea class="input-note-project" dir="ltr">Existing notes(example) &#10 1. do research &#10 2. check code
						</textarea>
					</div>
					<div class="project-id-note-button-group">
						<div class="note-text-button-container">
							<button class="note-text-button">Save</button>
						</div>
						<div class="note-delete-icon mouseover"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="project-minor">
			<div class="minor-block">
				<div class="minor-block-title normal-text">Priority</div>
				<div id="project-priority" class="block-content"></div>
			</div>
			<div class="minor-block">
				<div class="minor-block-title normal-text">Deadline</div>
				<div id="project-deadline" class="block-content"></div>
			</div>
			<div class="minor-block">
				<div class="minor-block-title normal-text">Owner</div>
				<div id="owner-container" class="block-content"></div>
			</div>
			<div class="minor-block">
				<div class="minor-block-title normal-text">Reviewer</div>
				<div id="reviewer-container" class="block-content"></div>
			</div>
			<div class="minor-block">
				<div class="minor-block-title normal-text">Related Team</div>
				<div id="team-container" class="block-content"></div>
			</div>
			<div class="minor-block">
				<div class="minor-block-title normal-text">Creator</div>
				<div id="creator-container" class="block-content"></div>
			</div>
		</div>
	</div>
</div>
<div class="dark-background unseen"></div>
<div class="edit-project-area unseen">
	<div class="edit-all-content">
		<div class="head-container">
			<div class="head project-text">Summary</div>
			<div><input id="summary-input-content" type="text"></div>
		</div>
		<div class="head-container">
			<div class="head project-text">Description</div>
			<div><textarea id="description-input" type="text"></textarea></div>
		</div>
		<div class="head-container">
			<div class="head project-text">Priority</div>
			<select id="create-priority" class="dropdown-select">
				<option>Critical</option>
				<option>Major</option>
				<option>Minor</option>
			</select>
		</div>
		<div class="head-container">
			<div class="head project-text">Deadline</div>
			<input type="date" id="deadline-input" id="calendar" name="date">
		</div>
		<div class="head-container">
			<div class="head project-text">Owner</div>
			<div class="people-area">
				<div class="name-input-area">
					<input type="text" id="owner-input" name="owner">
					<div class="icon-container">
						<div id="owner-search" class="search-icon mouseover"></div>
					</div>
				</div>
				<div class="search-select">
					<input type="radio" name="select-owner" id="select-name-owner" checked>User name
					<input type="radio" name="select-owner" id="select-id-owner">Id
				</div>
				<div id="owner-search-result" class="unseen">
					<div id="owner-search-list"></div>
				</div>
				<div id="owner-people-list" class="people-list"></div>
			</div>
		</div>
		<div class="head-container">
			<div class="head project-text">Reviewer</div>
			<div class="people-area">
				<div class="name-input-area">
					<input type="text" id="reviewer-input" name="reviewer">
					<div id="reviewer-search" class="icon-container">
						<div class="search-icon mouseover"></div>
					</div>
				</div>
				<div class="search-select">
					<input type="radio" name="select-reviewer" id="select-name-reviewer" checked>User name
					<input type="radio" name="select-reviewer" id="select-id-reviewer">Id
				</div>
				<div id="reviewer-search-result" class="unseen">
					<div id="reviewer-search-list"></div>
				</div>
				<div id="reviewer-people-list" class="people-list"></div>
			</div>
		</div>
		<div class="head-container">
			<div class="head project-text">Related Team</div>
			<div class="people-area">
				<div class="name-input-area">
					<input type="text" id="team-input" name="follower">
					<div id="team-search" class="icon-container">
						<div class="search-icon mouseover"></div>
					</div>
				</div>
				<div id="team-search-result" class="unseen">
					<div id="team-search-list"></div>
				</div>
				<div id="team-list" class="people-list"></div>
			</div>
		</div>
		<div class="button-container">
			<div id='cancel-edit-project' class="create-button project-text mouseover">Cancel</div>
			<div id='save-project' class="create-button highlight-text mouseover">Save</div>
		</div>
	</div>
</div>
<%- include('footer') -%>
</body>
<script src="/javascript/auth.js"></script>
<script src="/javascript/commonFunction.js"></script>
<script src="/javascript/projectId.js"></script>
<script>initProjectId();</script>
</html>