<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Project Notes</title>
	<link rel="stylesheet" type="text/css" href="/CSS/style.css"/>
</head>
<body>
<%- include('header') -%>
<div class="main main-project-id">
	<div>project: 123 solve xxx problem</div>
	<div>asignee: member a</div>
	<div>developers: member a, member e, ... (authoization)</div>
	<div>creator, created date</div>
	<div>deadline</div>
	<div>status: in progress</div>
	<div>priority: major</div>
	<div>Comments</div>

</div>
<%- include('footer') -%>
</body>
<script src="/javascript/auth.js"></script>
<script src="/javascript/projectId.js"></script>
<script>initProjectId();</script>
</html>