<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Project</title>
	<link rel="stylesheet" type="text/css" href="/CSS/style.css"/>
</head>
<body>
<%- include('header') -%>
<div class="main main-project-id" style="font-size: larger;">
	<div class="project-head sight-fit">
		<div id="project-viewmore" class="note-action-container mouseover">
			<img class="note-action-image" src="/images/viewmore.png"/>
			<div style="position: absolute;">
				<div class="viewmore-dialogue-project unseen">
					<div class="move-note">Edit</div>
					<hr/>
					<div class="move-note">Add to my notes</div>
				</div>
			</div>
		</div>
		<div class="note-title project-text">Project id: <%= id%> solve xxx problem</div>
	</div>
	<div class="project-content sight-fit">
		<div class="project-main">
			<div class="main-block-vertical">
				<div class="block-title project-text">Description:</div>
				<div class="block-content normal-text">
					<p class="content-description">This is a project for solving problems </br>
					 descriptions~~~
					</p>
				</div>
			</div>
			<div class="main-block-vertical">
				<div class="block-title project-text">Comment:</div>
				<div class="block-content normal-text">
					No comment yet.
				</div>
				<div class="block-content normal-text">
					<input type="text" placeholder="Leave a comment">
					<button>Add</button>
				</div>
			</div>
		</div>
		<div class="project-minor">
			<div class="main-block-vertical">
				<div class="block-title normal-text">Status:</div>
				<div class="block-content">in progress</div>
			</div>
			<div class="main-block-vertical">
				<div class="block-title normal-text">Priority:</div>
				<div class="block-content">Major</div>
			</div>
			<div class="main-block-vertical">
				<div class="block-title normal-text">Assignee:</div>
				<div class="block-content">Mary</div>
			</div>
			<div class="main-block-vertical">
				<div class="block-title normal-text">Followers:</div>
				<div class="block-content">Mary, Jane, Mark</div>
			</div>
			<div class="main-block-vertical">
				<div class="block-title normal-text">Creator:</div>
				<div class="block-content">Will</div>
			</div>
		</div>
	</div>
</div>
<%- include('footer') -%>
</body>
<script src="/javascript/auth.js"></script>
<script src="/javascript/projectId.js"></script>
<script>initProjectId();</script>
</html>