:root {
	--color-border: #ccc;
	--color-project: #64A6BD;
	--color-personal: #F5CB5C;
	--color-text: #595959;
    --color-highlight: #CC2936;
    --color-4: #595959;
	--color-head-text: #2E7866;
}
html,body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}
/* ================== */
/*  navigation usage  */
/* ================== */
.header {
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	padding: 5px;
	border-bottom: 1px solid var(--color-border);
	position: fixed;
    width: 100vw;
    z-index: 2;
    background-color: white;
}
.headline-container {
	display: flex;
	align-items: center;
}
.nav-content {
	display: flex;
	justify-content: space-between;
}
.headline {
	padding: 5px;
	color: var(--color-head-text);
	font-family: Noto Sans TC;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
}
.nav-menu {
	display: flex;
	align-items: center;
	gap: 30px;
}
.nav-opt {
	color: var(--color-text);
	font-size: 20px;
	font-size: 16px;
    font-weight: 400;
}
.create-btn {
	width: fit-content;
	line-height: 1.6;
	border-radius: 5px;
    border-width: 0;
    font-family: Noto Sans TC;
    color: white;
    font-size: 16px;
	background-color: var(--color-head-text);
}
.create-btn:hover {
	opacity: 0.75;
}
#project:hover, .in-project {
	border-bottom: 5px solid;
    border-color: var(--color-project);
    box-sizing: border-box;
}
#personal:hover, .in-personal {
	border-bottom: 5px solid;
    border-color: var(--color-personal);
    box-sizing: border-box;
}
#member:hover, .in-member {
	box-shadow: 0 0 5px 0px var(--color-border);
}
#sign {
	padding: 5px 0;
	border-bottom: solid;
	box-sizing: border-box;
	border-color: white;
}
#sign:hover {
	border-color: var(--color-head-text);
}
.headline:hover {
	filter: brightness(1.2);
}
#member {
	background-image: url("https://d2o8k69neolkqv.cloudfront.net/user.png");
	width: 35px;
    height: 35px;
    background-size: contain;
	background-repeat: no-repeat;
    border-radius: 50%;
}
.member-selection {
	display: flex;
	justify-content: center;
    box-sizing: border-box;
	position: fixed;
	z-index: 2;
	top: 60px;
	right: calc(50% - 600px);
	width: 91px;
	min-height: 80px;
	background: #e1e6e880;
	border-radius: 5px;
	animation: fadeIn 0.3s;
}
@keyframes fadeIn {
	from {
		opacity: 0.5;
	}
	to {
		opacity: 1;
	}
}
.member-position {
	width: 90%;
	display: flex;
	flex-direction: column;
}
.member-selection-item {
	display: flex;
    justify-content: center;
    align-items: center;
	height: -webkit-fill-available;
}
.selection-item-text {
	text-align: center;
	color: var(--color-text);
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}
#opt-member-center {
	border-bottom: 1px solid;
	border-bottom-color: var(--color-border);
}
/* ================== */
/*  index page usage  */
/* ================== */
.demo-image {
	display: flex;
	justify-content: center;
	box-sizing: border-box;
    padding: 0 20px;
}
/* ================== */
/*  sign page usage   */
/* ================== */
.sign-area {
	width: 340px;
	min-height: 235px;
	box-sizing: border-box;
	margin: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: center;
}
.sign-main-title {
	width: 100%;
	color: var(--color-text);
	text-align: center;
	font-family: Noto Sans TC;
	font-size: 28px;
	font-weight: 500;
	margin-bottom: 10px;
}
.sign-box {
	display: flex;
	width: 100%;
}
.sign-input-text {
	width: 100%;
	border: none;
	box-sizing: border-box;
	padding: 15px;
	color: var(--color-text);
	font-family: Noto Sans TC;
	font-size: 16px;
	font-style: normal;
	border: 1px solid var(--color-border);
	border-radius: 5px;
}
.sign-btn {
	width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 5px;
    background: var(--color-text);
}
.sign-btn:hover {
	opacity: 0.75;
}
.sign-btn-text {
	color: white;
	text-align: center;
	font-family: Noto Sans TC;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
}
.sign-message {
	color: var(--color-highlight);
	text-align: center;
	font-family: Noto Sans TC;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	min-height: 26px;
}
.sign-switch {
	width: 100%;
	box-sizing: border-box;
	background-color: var(--color-personal);
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
	text-align: center;
	font-family: Noto Sans TC;
	font-size: 22px;
	font-style: normal;
	font-weight: 500;
}
.sign-switch:hover {
	filter: saturate(1.2);
}
#go-sign-in-btn {
	background-color: var(--color-project);
}
.demo-user {
	background-color: var(--color-highlight);
    color: white;
	box-sizing: border-box;
    border: solid;
	line-height: 2;
	width: 100%;
	text-align: center;
	border-radius: 8px;
	padding: 3px 10px;
	font-size: 16px;
}
.demo-user:hover {
	opacity: 0.75;
}
/* ================== */
/*  projects usage    */
/* ================== */
.project-list {
	display: flex;
	flex-direction: column;
	border-radius: 10px 10px 0px 0px;
}
.project-list>th {
	border-bottom: #595959;
}
.search-container {
	display: flex;
	gap: 40px;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 0 5px;
}
.search-button-container {
	display: flex;
	align-items: end;
}
.dropdown-container {
	display: flex;
	gap: 30px;
}
.dropdown-label {
	color: var(--color-project);
    filter: brightness(0.8);
    font-weight: 500;
	font-size: 20px;
}
.dropdown-select {
	font-size: 16px;
    padding: 5px 0;
}
.keyword-input {
	font-size: 16px;
    padding: 5px 0;
	width: 300px;
}
.dropdown, .search {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.search-btn {
	width: fit-content;
	height: 40px;
	border-radius: 10px;
    border-width: 0;
    font-family: Noto Sans TC;
    color: white;
    font-size: 16px;
    font-weight: bold;
	background-color: var(--color-project);
}
.search-btn:hover {
	filter: brightness(1.1);
}
.project-table th{
	background-color:var(--color-project);
	color:#ffffff;
	line-height: 2.5;
}
.project-table td{
	background-color:#ffffff;
	line-height: 2;
	text-align:center;
} 
.project-table tr{
	border-bottom: 1px solid #dddddd;
}
.project-table tr:nth-of-type(even) td{
	background-color:#f3f3f3;
}
.table-action-col {
	width: 40px;
}
.action-container {
	display: flex;
    justify-content: center;
    align-items: center;
}
.action-image {
	width: 25px;
	height: 25px;
}
.action-image:hover {
	width: 30px;
	height: 30px;
}
.viewmore-icon {
	width: 25px;
	height: 25px;
}
.viewmore-dialogue {
	font-size: 14px;
	width: max-content;
	line-height: 0.5;
	border: 1px solid;
	top: 0px;
	left: 5px;
}
.project-summery{
	font-weight: 600;
}
/* ================== */
/*  personal usage    */
/* ================== */
.note-options-area {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
}
.note-options-container {
	display: flex;
	gap: 15px;
	justify-content: space-between;
	flex-wrap: wrap;
}
.note-title-container {
	display: flex;
    flex-direction: column;
	width: 340px;
}
.note-title-label {
	color: var(--color-personal);
    filter: brightness(0.8);
    font-weight: 500;
    font-size: 20px;
}
.note-option-button-container {
	display: flex;
	align-items: end;
}
.note-button {
	line-height: 1.5;
	width: fit-content;
    border-radius: 10px;
    border-width: 0;
    font-family: Noto Sans TC;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
	background-color: var(--color-personal);
	filter: saturate(0.9);
}
.note-button:hover {
	filter: brightness(1.1);
}
.personal-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 15px;
}
.note {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 500px;
	box-sizing: border-box;
    padding: 6px;
	border-style: dashed;
    border-color: var(--color-border);
}
.note:hover, .note-selected {
	border-style: solid;
	border-radius: 10px;
	border-color: var(--color-personal);
}
.note-head {
	display: flex;
	justify-content: space-between;
}
.note-title {
	font-size: 20px;
	font-weight: 600;
	font-family: Noto Sans TC;
}
.project-text {
	color: var(--color-head-text);
}
.new-title-text {
	color: var(--color-text);
}
.note-button-group {
	display: flex;
	justify-content: end;
	align-items: center;
}
.note-text-button-container {
	display: flex;
	align-items: center;
}
.note-text-button {
	height: 30px;
	width: fit-content;
    border-radius: 5px;
    border-width: 0;
    font-family: Noto Sans TC;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
	background-color: var(--color-highlight);
	opacity: 0.5;
}
.note-save-enable {
	opacity: 1;
}
.note-save-enable:hover {
	filter: saturate(1.2);
}
.note-delete-icon {
	width: 35px;
	height: 35px;
	background: url("/images/delete.svg") no-repeat center;
	background-size: contain;
}
.note-delete-icon:hover {
	opacity: 0.75;
}
.note-action-container {
	display: flex;
	align-items: center;
}
.note-action-image {
	width: 25px;
	height: 25px;
}
.note-action-image:hover {
	opacity: 0.75;
}
.viewmore-dialogue-note {
	position: absolute;
	top: 0px;
    left: -90px;
	font-size: 14px;
    width: max-content;
    line-height: 1;
    border: 1px solid;
	padding: 5px;
	background-color: white;
}
.move-note {
	padding: 3px;
}
.input-note {
	font-size: 16px;
	width: 470px;
    height: 100px;
}
/* ================== */
/*  project/id usage  */
/* ================== */
.project-head-container {
	display: flex;
	justify-content: space-between;
}
.project-head {
	display: flex;
	gap: 15px;
	box-sizing: border-box;
	padding: 0 30px;
	margin-bottom: 40px;
}
.viewmore-dialogue-project {
	position: absolute;
    top: 15px;
    left: 15px;
    font-size: 14px;
    width: max-content;
    line-height: 1;
    border: 1px solid;
    padding: 5px;
    background-color: white;
}
.project-content {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 0 40px 0 60px;
}
.project-main {
	display: flex;
    flex-direction: column;
    gap: 10px;
}
.project-minor {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.main-block {
	display: flex;
	align-items: center;
	gap: 5px;
}
.main-block-vertical {
	display: flex;
	flex-direction: column;
}
.block-title {
	width: max-content;
	font-weight: 600;
}
.block-content {
	font-size: 16px;
	font-weight: 500;
}
.normal-text {
	color: var(--color-text);
}
.content-description {
	margin-top: 5px;
}
.project-status {
	display: flex;
	justify-content: end;
	box-sizing: border-box;
    padding-right: 30px;
}
.note-title-project {
	color: var(--color-personal);
	filter: brightness(0.9);
	padding: 10px 0 ;
}
/* ================== */
/*  footer usage      */
/* ================== */
.footer {
	height: 80px;
	background-color: var(--color-head-text);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
}
.footer-text {
	font-family: Noto Sans TC;
	font-size: 16px;
	font-weight: 700;
	color: white;
}
/* ================== */
/*  main layout      */
/* ================== */
.main {
	margin-top: 80px;
	margin-bottom: 30px;
	font-family: Noto Sans TC;
	font-style: normal;
}
.main-index {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.main-log {
	display: flex;
	flex-direction: column;
	align-items: center;	
}
.main-project {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}
.main-personal {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}
.main-member {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.main-project-id {
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* ================== */
/*  common usage      */
/* ================== */
.hyperlink {
	text-decoration: none;
}
.sight-fit, .separator-sight-fit {
	width: 1200px;
}
.mouseover {
	cursor: pointer;
}
.unseen {
	display: none;
}
.separator {
	width: 100%;
    border-style: solid;
    color: var(--color-border);
}
.separator-sight-fit {
	border-style: solid;
    color: var(--color-border);
}
.highlight-text {
	color: var(--color-highlight);
	font-weight: 700;
}

/* ====================================== */
/*  700 px ~ 1200 px screen               */
/* ====================================== */
@media (max-width: 1200px) {
	.sight-fit, .separator-sight-fit {
		width: 100vw;
	}
	.member-selection {
		right: 6px;
	}
	.search-container,.dropdown-container {
		flex-wrap: wrap;
	}
}

/* ====================================== */
/*  < 600 px screen                       */
/* ====================================== */
@media (max-width: 700px) {
	.headline {
		font-size: 20px;
	}
	.nav-menu {
		gap: 0px;
		text-align: center;
	}
	.nav-opt, .create-btn {
		width: min-content;
		margin-right: 10px;
	}
	#sign {
		width: max-content;
		margin: 0;
	}
	.note {
		width: calc(100% - 10px);
	}
	.input-note {
		width: calc(100% - 20px);
	}
}